{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb('Pagings', '', 'bullhorn', ['List']) }}
{% endblock %}

{% block content %}

  <section class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header with-border">
            <i class="fa fa-bullhorn"></i>
            <h3 class="box-title">Paging {{ resources.paging.name }}</h3>
            <div class="box-tools"></div>
          </div>
          <form class="form-horizontal" method="post" action="{{ url_for('.PagingView:put', id=resources.paging.id) }}">
            <div class="box-body">
              {{ form.csrf_token }}
	      {{ render_field(form.name) }}
	      {{ render_field(form.number) }}
              {{ render_field(form.members) }}
              {{ render_field(form.callers) }}
              {{ render_field(form.announce_caller) }}
              {{ render_field(form.announce_sound) }}
              {{ render_field(form.caller_notification) }}
              {{ render_field(form.duplex) }}
              {{ render_field(form.enabled) }}
              {{ render_field(form.ignore_forward) }}
              {{ render_field(form.record) }}
	    </div>
          <div class="box-footer">
	    {{ render_field(form.submit, class_="btn btn-primary pull-right", value="Update", with_label=False) }}
          </div>
        </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
